/* ---------------------------------------------------- *\
 * MEDIA QUERY
\* ---------------------------------------------------- */

/**
 * FIT SIZE: 768PX
 */
@media screen and (min-width: 768px) {
    /* STYLE GUIDE */
    :root {
      --fs-display-large: 6rem;
      --fs-display-medium: 3.6rem;
      --fs-display-small: 3rem;
      --fs-headline-small: 4rem;
    }
}

/**
 * FIT SIZE: 992px
 */
@media screen and (min-width: 992px) {
    /* STYLE GUIDE */
    :root { 
        --fs-display-large: 8rem; 
        --fs-headline-small: 4.5rem;
    }

    // DUBLICATE ITEMS
    .container { margin-inline: 0; }

    // UTILITIES
    .pt-help { padding: 36px 0 0; }

    // ASIDE
    .aside {
        max-width: 110px;
        transform: none !important;
        visibility: visible !important;

        &.show {
            transform: none;
        }

        .aside-list {
            .aside-link { width: 110px; }
        }

        .btn-group {
            .open-dropmenu { width: 110px; }
        }
    }

    // ASIDE DOCS
    .slide-docs {
        padding: 36px 16px 16px;
        left: 110px !important;
        transform: none !important;
        visibility: visible !important;
    }

    // HOME PAGE
    .main {
        width: calc(100% - 160px);
        position: relative;
        left: 160px;
    }

    // DOCS PAGE
    .main-docs {
        padding: 36px 0 0;
        width: calc(100% - 444px);
        position: relative;
        left: 410px;
        right: 34px;
    }

    // BLOG
    .blog-body { padding: 36px 0 60px; }
}

/**
 * FIT SIZE: 1320px
 */
@media screen and (min-width: 1320px) {
    /* STYLE GUIDE */
    :root {
        --fs-display-large: 10rem;
        --fs-display-medium: 4.5rem;
        --fs-display-small: 3.6rem;
    }
}