/* ---------------------------------------------------- *\
 * STYLE GUID
\* ---------------------------------------------------- */

:root {
    /**
     * Colors
     */

    // Dark
    --dark-bg-color: #0f0f11;
    --dark-second-bg-color: #413e46;
    --dark-text-color: #ffffff;
    --dark-main-color: #f731c1;
    --dark-red-color: #f60849;
    --dark-rosy-color: #f731c1;
    --dark-purple-color: #9219f0;
    --dark-second-color: #7e7b83;
    --dark-border-color: #222024;
    
    // Light
    --light-bg-color: #ffffff;
    --light-second-bg-color: #dfdfdf;
    --light-text-color: #000000;
    --light-main-color: #f731c1;
    --light-red-color: #f60849;
    --light-rosy-color: #f731c1;
    --light-purple-color: #9219f0;
    --light-second-color: #97939d;
    --light-border-color: #ededed;

    /**
     * Typography
     */
    
    // Font size
    --fs-base: 62.5%;
    --fs-display-large: 2.8rem;
    --fs-display-medium: 3.2rem;
    --fs-display-small: 2.6rem;
    --fs-headline-small: 3rem;
    --fs-title-medium: 1.6rem;
    --fs-title-small: 1.4rem;
    --fs-body-large: 1.6rem;
    --fs-body-medium: 1.4rem;
    --fs-label-large: 1.4rem;
    --fs-label-medium: 1.2rem;
    --fs-label-small: 1.1rem;

    // Font weight
    --weight-regular: 500;
    --weight-medium: 600;

    /**
     * Border Radius
     */
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-circle: 50%;
    --radius-pill: 500px;

    /**
     * Fonts
     */
    --font-family: "DM Sans", sans-serif;
}

[data-theme="dark"] {
    color-scheme: dark;

    --bg-color: var(--dark-bg-color);
    --second-bg-color: var(--dark-second-bg-color);
    --text-color: var(--dark-text-color);
    --main-color: var(--dark-main-color);
    --red-color: var(--dark-red-color);
    --rosy-color: var(--dark-rosy-color);
    --purple-color: var(--dark-purple-color);
    --second-color: var(--dark-second-color);
    --border-color: var(--dark-border-color);
}

[data-theme="light"] {
    color-scheme: light;

    --bg-color: var(--light-bg-color);
    --second-bg-color: var(--light-second-bg-color);
    --text-color: var(--light-text-color);
    --main-color: var(--light-main-color);
    --red-color: var(--light-red-color);
    --rosy-color: var(--light-rosy-color);
    --purple-color: var(--light-purple-color);
    --second-color: var(--light-second-color);
    --border-color: var(--light-border-color);
}