/* ---------------------------------------------------- *\
 * STYLE GUID
\* ---------------------------------------------------- */
:root {
  /**
   * Colors
   */
  --dark-bg-color: #0f0f11;
  --dark-second-bg-color: #413e46;
  --dark-text-color: #ffffff;
  --dark-red-color: #bc2634;
  --dark-yellow-color: #f8ac33;
  --dark-second-color: #7e7b83;
  --dark-border-color: #222024;
  --light-bg-color: #ffffff;
  --light-second-bg-color: #dfdfdf;
  --light-text-color: #000000;
  --light-red-color: #bc2634;
  --light-yellow-color: #f8ac33;
  --light-second-color: #97939d;
  --light-border-color: #ededed;
  /**
   * Typography
   */
  --fs-base: 62.5%;
  --fs-display-large: 2.8rem;
  --fs-display-medium: 3.2rem;
  --fs-display-small: 2.6rem;
  --fs-headline-small: 2.4rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;
  --weight-regular: 400;
  --weight-medium: 500;
  /**
   * Border Radius
   */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-circle: 50%;
  --radius-pill: 500px;
  /**
   * Fonts
   */
  --font-family: "DM Sans", sans-serif;
}

[data-theme=dark] {
  color-scheme: dark;
  --bg-color: var(--dark-bg-color);
  --second-bg-color: var(--dark-second-bg-color);
  --text-color: var(--dark-text-color);
  --red-color: var(--dark-red-color);
  --yellow-color: var(--dark-yellow-color);
  --second-color: var(--dark-second-color);
  --border-color: var(--dark-border-color);
}

[data-theme=light] {
  color-scheme: light;
  --bg-color: var(--light-bg-color);
  --second-bg-color: var(--light-second-bg-color);
  --text-color: var(--light-text-color);
  --red-color: var(--light-red-color);
  --yellow-color: var(--light-yellow-color);
  --second-color: var(--light-second-color);
  --border-color: var(--light-border-color);
}

/* ---------------------------------------------------- *\
 * LAYOUT
\* ---------------------------------------------------- */
li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea {
  display: block;
}

a {
  font-family: var(--font-family);
  color: var(--text-color);
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  font-family: var(--font-family);
  background: none;
  border: none;
}

input,
textarea {
  outline: none;
  width: 100%;
}

input::-moz-placeholder {
  color: var(--second-color);
}

input::placeholder {
  color: var(--second-color);
}

textarea::-moz-placeholder {
  color: var(--second-color);
}

textarea::placeholder {
  color: var(--second-color);
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--fs-base);
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-bg-color);
  border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}

/* ---------------------------------------------------- *\
 * TYPOGRAPHY
\* ---------------------------------------------------- */
.display-large {
  font-size: var(--fs-display-large);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.display-medium {
  font-size: var(--fs-display-medium);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.display-small {
  font-size: var(--fs-display-small);
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
}

.headline-small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
}

.title-medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.title-small {
  font-size: var(--fs-title-small);
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
}

.body-large {
  font-size: var(--fs-body-large);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.body-medium {
  font-size: var(--fs-body-medium);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.label-large {
  font-size: var(--fs-label-large);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.label-medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--weight-medium);
  letter-spacing: 0.5px;
}

.label-small {
  font-size: var(--fs-label-small);
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
}

/* ---------------------------------------------------- *\
 * DUBLICATE ITEMS
\* ---------------------------------------------------- */
.section {
  padding-block: 0 60px;
}

.container {
  margin-inline: auto;
  padding-inline: 16px;
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/* ---------------------------------------------------- *\
 * UTILITIES
\* ---------------------------------------------------- */
/**
 * bg colors
 */
.bg-bg {
  background-color: var(--bg-color);
}

.bg-second-bg {
  background-color: var(--second-bg-color);
}

.bg-text {
  background-color: var(--text-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-purple {
  background-color: var(--purple-color);
}

.bg-rosy {
  background-color: var(--rosy-color);
}

.bg-second {
  background-color: var(--second-color);
}

.bg-border {
  background-color: var(--border-color);
}

/**
 * text colors
 */
.text-bg {
  color: var(--bg-color);
}

.text-second-bg {
  color: var(--second-bg-color);
}

.text-text {
  color: var(--text-color);
}

.text-red {
  color: var(--red-color);
}

.text-purple {
  color: var(--purple-color);
}

.text-rosy {
  color: var(--rosy-color);
}

.text-second {
  color: var(--second-color);
}

.text-border {
  color: var(--border-color);
}

/* ---------------------------------------------------- *\
 * NAVBAR
\* ---------------------------------------------------- */
.navbar {
  border-bottom: 2px solid var(--border-color);
  height: 60px;
  transition: 0.4s;
}
.navbar.active {
  transform: translateY(-60px);
  transition: 0.4s;
}
.navbar .open-aside {
  color: var(--text-color);
}
.navbar .open-aside .img-logo {
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  filter: drop-shadow(0 0 1px black);
}

/* ---------------------------------------------------- *\
 * NAVBAR DOCS
\* ---------------------------------------------------- */
/* ---------------------------------------------------- *\
 * ASIDE
\* ---------------------------------------------------- */
.aside {
  background-color: var(--bg-color);
  border-right: 2px solid var(--border-color) !important;
  color: var(--text-color);
  padding-block: 16px;
  max-width: 80px;
  height: 100vh;
}
.aside.show {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
}
.aside .close-aside {
  padding: 20px 0;
  color: var(--text-color) !important;
}
.aside .aside-list::-webkit-scrollbar {
  display: none;
}
.aside .aside-list .aside-link {
  color: var(--second-color);
  padding: 20px 0;
  width: 80px;
  transition: 0.4s;
}
.aside .aside-list .aside-link:hover {
  color: var(--text-color);
  transition: 0.4s;
}
.aside .aside-list .aside-link.active {
  border-left: 4px solid var(--text-color);
}
.aside .aside-list .aside-link [dir=rtl].active {
  border-left: transparent;
  border-right: 4px solid var(--text-color);
}
.aside .aside-list .aside-link .img-logo {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  filter: drop-shadow(0 0 1px black);
}
.aside .aside-list .aside-link .ctrl-k {
  border: 1px solid var(--second-color);
  font-size: 13px;
  padding: 3px 6px;
}
.aside .btn-group:hover .open-dropmenu {
  color: var(--text-color) !important;
}
.aside .btn-group .open-dropmenu {
  color: var(--second-color) !important;
  width: 80px;
  transition: 0.4s;
}
.aside .btn-group .open-dropmenu:hover {
  color: var(--text-color) !important;
  transition: 0.4s;
}
.aside .btn-group .dropdown-menu {
  background-color: var(--bg-color) !important;
  border: 2px solid var(--second-bg-color);
  color: var(--text-color);
  min-width: 80px;
  max-width: 80px;
}
.aside .btn-group .dropdown-menu .dropmenu-item {
  color: var(--second-color);
  height: 60px;
  transition: 0.4s;
}
.aside .btn-group .dropdown-menu .dropmenu-item:hover {
  background-color: var(--second-bg-color);
  color: var(--text-color);
  transition: 0.4s;
}
.aside .btn-group .dropdown-menu .dropmenu-theme {
  padding-block: 16px;
  color: var(--second-color);
  transition: 0.4s;
}
.aside .btn-group .dropdown-menu .dropmenu-theme:hover {
  background-color: var(--second-bg-color);
  color: var(--text-color);
  transition: 0.4s;
}

/* ---------------------------------------------------- *\
 * SEARCHBAR
\* ---------------------------------------------------- */
.searchbar .modal-content {
  background-color: var(--bg-color) !important;
}
.searchbar .modal-header {
  border-bottom: 2px solid var(--border-color) !important;
  height: 60px !important;
}
.searchbar .modal-header .close-searchbar {
  color: var(--second-color);
  transition: 0.4s;
}
.searchbar .modal-header .close-searchbar:hover {
  color: var(--text-color);
  transition: 0.4s;
}
.searchbar .modal-body .text-search {
  min-height: 300px;
}
.searchbar .modal-body .searchbar-link {
  border-left: 2px solid var(--second-color);
  color: var(--second-color);
  height: -moz-max-content;
  height: max-content;
  padding: 12px 20px;
  transition: 0.4s;
}
.searchbar .modal-body .searchbar-link:hover {
  border-left: 2px solid var(--text-color);
  background-color: var(--border-color);
  color: var(--text-color);
  transition: 0.4s;
}
.searchbar .modal-footer {
  border-top: 2px solid var(--border-color) !important;
  height: 60px !important;
}
.searchbar .modal-footer .copyright {
  color: var(--second-color);
}

/* ---------------------------------------------------- *\
 * SLIDER DOCS
\* ---------------------------------------------------- */
/* ---------------------------------------------------- *\
 * FOOTER
\* ---------------------------------------------------- */
/* ---------------------------------------------------- *\
 * HOME PAGE
\* ---------------------------------------------------- */
[dir=rtl] .main {
  right: 160px;
  left: auto;
}

/* ---------------------------------------------------- *\
 * CV PAGE
\* ---------------------------------------------------- */
/* ---------------------------------------------------- *\
 * BLOG
\* ---------------------------------------------------- */
/* ---------------------------------------------------- *\
 * SHOWCASE PAGE
\* ---------------------------------------------------- */
/* ---------------------------------------------------- *\
 * MEDIA QUERY
\* ---------------------------------------------------- */
/**
 * FIT SIZE: 768PX
 */
@media screen and (min-width: 768px) {
  /* STYLE GUIDE */
  :root {
    --fs-display-large: 3.6rem;
    --fs-display-medium: 3.6rem;
    --fs-display-small: 3rem;
  }
}
/**
 * FIT SIZE: 992px
 */
@media screen and (min-width: 992px) {
  /* STYLE GUIDE */
  :root {
    --header-height: 72px;
    --mobile-nav-height: 0;
  }
  .aside {
    max-width: 110px;
  }
  .aside .aside-list .aside-link {
    width: 110px;
  }
  .aside .btn-group .open-dropmenu {
    width: 110px;
  }
  .main {
    width: calc(100% - 160px);
    position: relative;
    left: 160px;
  }
}
/**
 * FIT SIZE: 1320px
 */
@media screen and (min-width: 1320px) {
  /* STYLE GUIDE */
  :root {
    --fs-display-large: 5.7rem;
    --fs-display-medium: 4.5rem;
    --fs-display-small: 3.6rem;
  }
}/*# sourceMappingURL=globals.css.map */